/*Start timeline*/
.timeline ul{
    border-left: 4px;
    border-radius: .8rem;
    background-color: rgb(47, 206, 255);
    margin: 0 auto;
    position: relative;
    padding: .5rem;
    list-style: none;
    text-align: left;
    width: 70%;
}

.timeline h1{
    font-size: .2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1rem;
    opacity: .3;

}

.timeline .date{
    border-bottom: 1px solid red;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    position: relative;
}

.timeline .date::before,
.timeline .date::after{
    position: absolute;
    display: flex;
    top: 50;
    transform:translateY(-50%)
}

.timeline .date::before{
    content: attr(data-date);
    left: -21rem;
    text-align: right;
    min-width: 12rem;
    font-size: 1.3rem;
}

.timeline .date::after{
    content: '';
    box-shadow: 0 0 0 4px #ffdd55;
    border-radius: 100%;
    left: -8rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: khaki;
}

/*End timeline*/

/*Start contact*/
.contact{
    background-color: #6053be;
    width: 60%;
    align-content: center;

}

form{
    width: 50%;
    margin: 0 auto;
}

form label{
    font-size: 1.5rem;

}

input,
select,
textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 5px;
    border: none;
    outline-color: #fd57bf;
}

input[type="submit"] {
    width: initial;
    background-color: mintcream;
    color: rgb(168, 214, 99);
    padding: 1rem 2rem;
    border-radius: .8rem;
    cursor: pointer;
    transition: background-color 650ms;
}

input[type="submit"] :hover{
    color: #221e3f;
    background-color: #ffe838;

}
/*End contact*/

/*Start footer*/
.copyright{
    width: 60%;
    text-align: center;
    background-color: #272742;
    padding: 2rem 0;
    position: relative;
    
}

.up{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #eee;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    animation: pulse 2s infinite;
}

.up i{
    color: #16162d;
    font-size: 2rem;
    margin: auto;
}

.copyright p{
    font-size: 1.3rem;
}

/*End footer*/

/*Start animations*/
@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 rgba(253, 87, 191, .99);
    }
    70%{
        box-shadow: 0 0 0 2rem rgba(206, 73, 157, 0);;
    }
    100%{
        box-shadow: 0 0 0 0 rgba(160, 55, 163, 0);
    }
}
/*End animations*/

/*Start media queries*/
/*End media queries*/