/* Section 3 */

* {
  margin: 0;
  padding: 0;
  box-lines: 0;
}

body {
  background: #f7f1f1;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

#Logo {
  background-color: #f3eef3;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.nav-header {
  height: 10rem;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  font-size: 1.2rem;
  position: sticky;
  top: -5rem;
  z-index: 999;
}

.nav_container {
  /* background-color: khaki; */
  display: flex;
  justify-content: space-between;
  height: 1000px;
  z-index: 1;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 50px;
}

#logo {
  /* background-color: rgb(0, 109, 252); */
  background-size: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 2rem;
}
.navbar_menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar_item {
  height: 80px;
}

.navbar_links {
  color: rgb(22, 12, 12);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.navbar_links:hover {
  color: #9518fc;
  transition: all 0.3s ease;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1500px;
  padding: 0;
}
/* navbar menu home, about services slide down */
.navbar_menu {
  display: grid;
  grid-template-columns: auto;
  position: absolute;
  height: 50px;
  z-index: 1;
  width: 10%;
  top: -1000px;
  opacity: 1;
  /* max-width: 100px; */
  margin: 0 auto;
  padding: 0 50px;
  background: #f3eef3;
}

/* navbar menu pull down background */
.navbar_menu.active {
  background: #f3eef3; /* #131313 */
  top: 85%;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 99;
  height: 1vh;
  justify-content: space-evenly;
  align-items: flex-start;
  font-size: 1.6rem;
}

/* #navbar_logo {
  padding-left: 25px;
} 

/* navbar burger color */
.burger .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: rgb(17, 13, 13);
}

.navbar_item {
  width: 100%;
}

.navbar_links {
  text-align: center;
  padding: 2rem;
  width: 100%;
  display: table;
}

/* .navbar_btn {
  padding-bottom: 2rem;
} */

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80px;
  margin: 0;
}

#mobile-menu {
  position: absolute;
  top: 20%;
  right: 5%;
  transform: translate(5%, 20%);
}

.burger .bar {
  display: block;
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* pictures */
.slide {
  min-height: 40vh;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin: 0 auto 0 auto;
  background: #f7f1f1;
}

.hero-desc {
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  flex-basis: 10rem;
  padding-left: 0.5rem;
  position: relative;
}
/* picture with description */
.hero-img {
  position: relative;
  flex: 1;
  flex-basis: 0.5rem;
  justify-content: space-evenly;
  width: 300px;
  /* overflow: hidden; */
}

.hero-img img {
  width: 75%;
  height: 20rem;
  object-fit: cover;
}

.project1-span {
  color: orange;
}

.hike-span {
  color: rgb(86, 124, 228);
}

.forest-span {
  color: rgb(103, 221, 48);
}

.hero-desc h2 {
  font-family: "abril fatface";
  font-size: 2rem;
}
*/ .hero-desc p {
  padding: 2rem 1rem;
  font-size: 1.5rem;
  color: rgb(247, 229, 229);
}

/* Bikeman */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

#right-wheel,
#left-wheel {
  animation: wheel 2s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

#bike-man {
  animation: bike 3s ease-in-out infinite alternate;
  transform-origin: bottom;
}

#hat {
  animation: hat 3s ease-in-out infinite alternate;
  transform-origin: top;
  transform-box: fill-box;
}

@keyframes wheel {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes bike {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(20deg);
  }
}

@keyframes hat {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(35%);
  }
}
